*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container {
   /* background-color: black;*/
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border-style: solid;
    border-width: 1px;
    display: flex;
}
.gender-area{
/*    border-style:dashed;
    border-width:2px;*/
    width:23%;
    height:500px;
}
.olcumler {
    background-color: darkviolet;
    width: 50%;
    flex-direction: column;
    text-align:center;
}
.area{
    height:35%;
}
.img{
    position:relative;
    width:100px;
    height:150px;
    top:70px;
    left:40px;
    margin:40px 20px 5px 5px;
    float:left;
    cursor:pointer;
    fill:#000080;
    opacity:0.9;
    

}

.gender-area input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

    .gender-area input:active + .cinsiyet {
        opacity: .9;

    }

    .gender-area input:checked + .cinsiyet {
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
    }

.cinsiyet {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
    
}

    .cinsiyet:hover {
        -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
        filter: brightness(1.2) grayscale(.5) opacity(.9);
        
    }